doctype html
html
   head
      meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
      meta(name='viewport', content='initial-scale=1, maximum-scale=1')
      title POC
      link(rel='stylesheet', href='http://js.arcgis.com/3.13/esri/css/esri.css')
      link(rel='stylesheet', href='/stylesheets/poc.css')
   body
      #container(class="newspaper")
         #first(class='left')
            h1 Retour de service
            #items !{travaux}
         #second(class='right')
            h1 Rendu via javascript
            #map
   script.
      var dojoConfig = { parseOnLoad: true };
   script(src='http://js.arcgis.com/3.13/')
   script(src='/javascripts/travaux.js')
   script(src='/javascripts/maps.js')
   script(src='/javascripts/works.js')
   script(src='/javascripts/graphics.js')
   body(onload="showByHTMLTag();")

